@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --principal: #ffffff;
    --secundario: #30EF00;
    --botao-azul: #167BF7;
    --cor-do-fundo:#000;


    --font-titulo: "inter" 48px ;
    --fonte-principal: "inter, sans-serif" 28px;
    --fonte-paragrafos: "inter, sans-serif" 16px;
}

* {
    margin: 0rem;
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--principal);
    font-family: inter, sans-serif;
}

a:hover {
    color: #30EF00;
    font-weight: 500;
}
body {
    color: var(--principal);
    background-color: var(--cor-do-fundo);
    background-size: 100%;
    background-repeat:no-repeat;
}

#card-container-maior {
    background-color: #ffffff;
    text-align: center;
    margin-top: 35px;
}

.logo {
    width: 20rem;
}


.separate-header {
    align-items: center;
    gap: 2rem;
    display: flex;
}

.cabecalho-header {
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

ul {
    font-family: inter, sans-serif;
    font-weight: 18px;
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 2rem;
}

.button-ver-catalogo {
    margin-bottom: 5rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;;
    background-color: var(--secundario);
    border: none;
}

.button-ver-catalogo:hover {
    background-color: #33520a;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.button-cadastre-se {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;;
    background-color: var(--secundario);
    border: none;
}

.button-cadastre-se:hover {
    background-color: #33520a;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  }



.button-login {
    color: #30EF00;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid;
    padding: 15px 25px 15px 25px;
    background-color: transparent;
}

.button-login:hover {
    background-color: #33520a;
    border: 2px solid;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  }

.hero-header {
    margin-top: 12rem;
    margin-left: 10rem;
}

h1, h2 {
    max-width: 800px;
    font-family: Inter, sans-seif;

}

h1 {

    font-weight: 700;
    font-size: 60px;

}

h2 {

    font-weight: 300;
    font-size: 30px;
}


.subtitulo {
    margin-top: 1rem;

}

.video-background {
    position: absolute;  
    opacity: 20%;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;  
    overflow: hidden;  
    z-index: -1;
    background-color: #000;
}
  

.scroll {
    margin-top: 10%;
    text-align: center;
}

.titulo-produtos {
    padding-top: 40px;
    justify-content: center;
    margin-top: 35px;
    display: flex;
    margin-bottom: 0px;
}

.button-hero-header {
    margin-top: 2rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;;
    background-color: var(--secundario);
    border: none;

}

.button-hero-header:hover {
    background-color: #33520a;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  }

.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    transition: transform 0.2s ease;
    margin-top: 30%
}

.card-container:active {
    transform: scale(1.05);
  }

.card-container {
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  
  .card {
    width: 250px;
    height: 320px;
    margin: 10px;
    border: 0px solid #ccc;
    border-radius: 16px;
    padding: 15px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    border-radius: 8px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px; 
  }
  
  .card h3 {
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .card p {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: #666;
  }
  
  .produtos-container {
    align-items: center;
    background-color: #ffffff;
    text-align: center;
}

.button-catalogo {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 32px;
    padding: 15px 25px 15px 25px;;
    background-color: var(--secundario);
    border: none;
    margin-bottom: 4rem;
}

.button-catalogo:hover {
    background-color: #33520a;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  }

hr {
    color: #f0f0f0;
    border-color: #f0f0f0;
    border-style:double
}

.titulo-depoimentos{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    max-width: 1920px;
    background-color: #ffffff;
}

.depoimentos-parte-container {
    display: flex;
}

.depoimentos-parte{
    color: #4b4b4b;;
    width: 300px;
    border-radius: 10px;
    text-align:start;
    padding: 20px;
}

.depoimentos-parte blockquote {
    font-family: inter, sans-serif;
}

.depoimentos-parte footer {
    font-family: inter, sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.depoimentos-parte img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

blockquote {
    font-style: italic;
    margin: 0;
}

blockquote footer {
    font-style: normal;
    margin-top: 10px;
}


.logo-rodape {
    width: 150px;
    fill: #4b4b4b;

}

.rodape {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: #ffffff;
 
}

.links-acessiveis {
    color: #4b4b4b;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 3rem;
}

.direitos {
    width: 1200px;
    line-height: 1.5rem;
    color: #4b4b4b;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    margin: 20px;
  }

  .card {
    width: 300px; 
    height: 415px;
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .card:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
  }

  .card img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-radius: 5px; 
    margin-bottom: 15px;
  }

  .card h2 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card p {
    line-height: 1.5;
  }

  .card button {
    background-color: #085d42;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .card button:hover {
    color: #085d42;
    background-color: #30EF00;
  }

/*-------- formulario cadastro --------*/

  body {
    font-family: inter, sans-serif;
    margin: 0;
    padding: 20px;
}

.container-cadastro {
    width: 600px;
    margin: 3rem auto;
    border: none;
    padding: 20px;
}

.container-cadastro h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-family: inter, sans-serif;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #30EF00;
    color: #085d42;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #23a104;
}

.bg-cadastro {
    background-color: #085d42;
}

/*------- Formulario login --------------*/

body {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 20px;
}

.container-login {
  width: 600px;
  margin: 3rem auto;
  border: none;
  padding: 20px;
}

.container-login h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-family: inter, sans-serif;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #30EF00;
  color: #085d42;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #23a104;
}

.bg-login {
  background-color: #085d42;
}